<div class="container">
  <div class="movie-list">
    <div class="filter-buttons-wrapper">
      <div class="spacer"></div>
      <div class="filter-buttons">
        <button
          class="filter-button left"
          (click)="filterYear(2010)"
          [ngClass]="{'active': selectedYear === 2010}">2010's</button>
        <button
          class="filter-button"
          (click)="filterYear(2000)"
          [ngClass]="{'active': selectedYear === 2000}">2000's</button>
        <button
          class="filter-button right"
          (click)="filterYear(1990)"
          [ngClass]="{'active': selectedYear === 1990}">1990's</button>
      </div>
    </div>
    <app-movie *ngFor="let movie of movies" [movie]="movie"></app-movie>
  </div>
</div>
